.movie {
  width: 230px;
  background-color: whitesmoke;
  transition: all 0.4s ease;
  border-radius: 10px;
  overflow: hidden;
}

.movie:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.movie img {
  width: 230px;
  height: 345px;
}
