@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display&family=Libre+Baskerville&family=Ubuntu:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Serif Display', 'Bebas Neue', 'Libre Baskerville', 'Ubuntu',
    serif;
  background-color: #f0cad9;
}

a {
  text-decoration: none;
}

code {
  font-family: 'DM Serif Display', serif;
}
